.row:after {
	content: "";
  	display: table;
  	clear: both;
}

.column {
	float: left;
	width: 50%;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.page {
    width: 1300px;
    background-color: rgb(246, 239, 221);
    margin: auto;
    padding: 15px;
	border: 10pt;
	border-color: black;
  }

#historyGeography {
	left: 80px;
	/*height: 1000px;
	width: 800px;*/
}

#BusinessEase {
	float: center;
	left: 10px;

}

#tourism {
	float: center;
	left: 5px;
	right: 10px;

}

h1 {
	font-size:xx-large;
	text-align: center;
	font-family: 'Old English Text', Times, serif;
}

h2 {
	font-size:x-large;
	text-align: left;
	font-family: 'Times New Roman', Times, serif;
}

h3 {
	font-size:18px;
	text-align: left;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-style: normal;
}

p {
	font-size: 16px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	word-spacing: 1px;
	line-height: 25px;
	padding-left: 0.3cm;
	padding-right: 0.3cm;
}

body {
	background-color: rgb(193, 193, 193);
}