

.row:after {
	content: "";
  	display: table;
  	clear: both;
}

.column {
	float: left;
	width: 50%;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.page {
    width: 1300px;
    background-color: rgb(246, 239, 221);
    margin: auto;
    padding: 15px;
	border-style: solid;
	border-width: 2px;
	border-color: black;
  }

#historyGeography {
	left: 80px;
	/*height: 1000px;
	width: 800px;*/
}

#BusinessEase {
	float: center;
	left: 10px;

}

#tourism {
	float: center;
	left: 5px;
	right: 10px;

}

h1 {
	font-size: 70px;
	text-align: center;
	font-family: 'IM Fell French Canon SC', serif;
}

h2 {
	font-size: 32px;
	text-align: left;
	font-family: 'Tapestry', Times, serif;
	padding-left: 0.3cm;
}

h3 {
	font-size:22px;
	text-align: left;
	font-family: 'Bebas Neue', sans-serif;
	font-style: normal;
	padding-left: 0.3cm;
}

h4 {
	font-size:19px;
	text-align: center;
}

.caption {
	font-size: 10px;
	font-family: 'Open Sans', san-serif;
	text-align: center;
}

p {
	font-size: 16px;
	font-family: 'Cabin', san-serif;
	word-spacing: 1px;
	line-height: 25px;
	padding-left: 0.3cm;
	padding-right: 0.3cm;
}

body {
	background-color: rgb(193, 193, 193);
}